body{
    margin: 0;
    padding: 0;
}
.wheather-details{
    background: rgb(17, 128, 113);
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tempreature{
    font-size: 75px;
    font-weight: bold;
    color: white;

}
.location,.time,.condition{
    color: white;
    font-size: 25px;
}
.search-bar{
    width: 300px;
    padding-left: 50px;
    margin-left: auto;
    height: 30px;
}
.search-button{
    /* gap: auto; */
    height: 30px;
    margin-right:auto;
    margin-left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color:rgb(23, 147, 126) ;
    

}
.search-button:hover{
    box-shadow: (2,5,4,0.2);
    box-sizing: rgba(2,8,20,0.1) 0px 0.175em 0.5em;
    transition: opacity .15s ease-out;
    color: rgb(24, 25, 25);
    transform: translateY(-1px) scale(1.1);
}
input[type="text"] {
    font-size:20px;
}
.user{
    display: flex;
    justify-content: center;
    
    align-items: center;

}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media screen and (max-width:600px) {
    .search-bar{
        width: 200px;
        padding: 2px;
    }
}
.logo{
    height: 100px;
    width: 100px;
}